<div cdkDropListGroup>
  <!-- <div class="example-container">
        <h2>Menu</h2>
        SOMETHING
        <div
          cdkDropList
          [cdkDropListData]="menu"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let section of menu" cdkDrag>
              <div 
                cdkDropList
                [cdkDropListData]=section
                class="internal-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of section" cdkDrag>
                    {{item}}
                </div>
            </div>
          </div>
        </div>
      </div> -->

  <!-- <form>
        <button class="btn btn-warning" type="submit">Submit</button>
      </form> -->




  <!--       
  <div class="example-container">
    <h2>Available</h2>

    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Menu</h2>

    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div> -->

  <div class="example-container">
    <h2>Menu</h2>

    <div cdkDropList [cdkDropListData]="menu?.categories" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let category of menu?.categories; index as categoryIndex" cdkDrag>
        <div class="example-container">
          
          <h2>{{category.name}}</h2>
          <div cdkDropList [cdkDropListData]="category?.products" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let product of category?.products; index as productIndex" cdkDrag>
              {{product.name}}
              <button class="delete btn btn-warning" title="delete product"
                (click)="delete(menu, categoryIndex, category, productIndex, product)">x</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let inventory of inventories">
    {{inventory.product.name}}
  </div>

  <!-- <div class="example-container">
    <h2>Available</h2>

    <div cdkDropList [cdkDropListData]="inventories" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let inventory of inventories" cdkDrag>{{inventory.id}}</div>
    </div>
  </div> -->
</div>