<h2>Restaurants</h2>
<ul class="restaurants">
    <li *ngFor="let restaurant of restaurants">
        <!-- {{restaurant.id}} -->
        <div>
            {{restaurant.date}}
        </div>
        <div>
            {{restaurant.temperatureC}}
        </div>
        <div>
            {{restaurant.temperatureF}}
        </div>
        <div>
            {{restaurant.summary}}
        </div>

    </li>
</ul>
<!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->