<mat-drawer-container class="example-container" hasBackdrop="true" fullscreen>
  <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>
          <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
        </span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <h2>My Details (address, etc)</h2>
      <h2>Recent orders snapshot (paginated)?</h2>
      <h2>Some local restaurants (paginated grid / google maps)?</h2>
    </div>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>