<div class="dashboard-div-main">
  <div class="dashboard-div-left">
    <img class="dashboard-main-image" src="./assets/img/dan-gold-E6HjQaB7UEA-unsplash.jpg" alt="dan-gold-E6HjQaB7UEA-unsplash.jpg">
  </div>
  <div class="dashboard-div-right">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" class="dashboard-search-form form-inline">
      <input class="form-control" formControlName="search" type="text" placeholder="Enter delivery address">
      <button class="btn btn-warning" type="submit">Submit</button>
    </form>
  </div>
</div>
<mat-grid-list cols="3">
  <mat-grid-tile>
    <div>
      <img class="dashboard-grid-image" src="./assets/img/undraw_breakfast_psiw.svg" alt="undraw_breakfast_psiw.svg">
      <p>Feed yourself</p>
      <a (click)="auth.login('customer')">Create a customer account</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <img class="dashboard-grid-image" src="./assets/img/undraw_Chef_cu0r.svg" alt="undraw_Chef_cu0r.svg">
      <p>Your restaurant, delivered</p>
      <a (click)="auth.login('restaurant')">Add your restaurant</a>      
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <img class="dashboard-grid-image" src="./assets/img/undraw_takeout_boxes_ap54.svg" alt="undraw_takeout_boxes_ap54.svg">
      <p>Deliver the eats</p>
      <a (click)="auth.login('driver')">Sign up to deliver</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>